0.container2 {
    background-image: url(./Img/fondo.png);
}
.container-fluid {
    background-color: #ffe7e7;
font-family: 'Bebas Neue', cursive;
}
.container-fluid ul {
    align-items: center;
    background-color: #ffe7e7;
    }
.carousel-inner{
    height: 20rem;
}
.carousel-caption { 
    margin-inline-start: -9%;
    background-color: #f4cccc;  
    height: 100%;   
    text-align: center;
    width: 11rem;
}
.carousel-caption p{
    text-align: center;
    font-size: 1rem;
    line-height:1.5rem; 
    font-family: 'Righteous', cursive;   
}
.carousel-caption h5{
    font-size: 2rem;
    line-height:2.4rem;
    margin-top: 8%;
    margin-bottom: 10%;
    font-family: 'Righteous', cursive;
}

.cat-item .cat-img img,
.product-item .product-img img  {
    transition: .5s;
}

.cat-item:hover .cat-img img,
.product-item:hover .product-img img {
    transform: scale(1.2);
}
.container {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 40rem;
    background-color: 	#ffe7e7;
}

.productos {
    background-color: 	#f4cccc;
    text-align: center;
}
.card-body {
 background-color: #f4cccc;
}
.card-footer {
    background-image: url(./Img/fondo.png);
}

